@model BudgetViewModel
@{
    ViewData["Title"] = "Budget";

    var budgetValue = Model.IncomeSum - Model.ExpenseSum;
}

<h1>Budget</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Value</th>
            <th scope="col">Income/Expense</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (IncomeViewModel i in Model.Incomes)
        {
        <tr>
            <td scope="row">@i.Id</td>
            <td scope="row">@i.Date.ToString()</td>
            <td scope="row">@i.IncomeType</td>
            <td scope="row">@i.IncomeValue</td>
            <td scope="row">Income</td>
            
            <td>
                <a asp-action="DeleteIncome" asp-controller="Budget" asp-route-i="@i.Id" class="btn btn-danger">Delete</a>
                <a asp-action="EditIncome" asp-controller="Budget" asp-route-i="@i.Id" class="btn btn-primary">Update</a>
            </td>
        </tr>
        }

        @foreach (ExpenseViewModel e in Model.Expenses)
        {
            <tr>
                <td scope="row">@e.Id</td>
                <td scope="row">@e.Date.ToString()</td>
                <td scope="row">@e.ExpensesType</td>
                <td scope="row">@e.ExpensesValue</td>
                <td scope="row">Expense</td>
                <td>
                    <a asp-action="DeleteExpense" asp-controller="Budget" asp-route-e="@e.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="EditExpense" asp-controller="Budget" asp-route-e="@e.Id" class="btn btn-primary">Update</a>
                </td>
            </tr>
        }
        <tr>
            <td>Incomes Sum: @Model.IncomeSum</td>
        </tr>

        <tr>
            <td>Expenses Sum: @Model.ExpenseSum</td>
        </tr>

        <tr>
            <td>Budget: @budgetValue</td>
        </tr>
        
    </tbody>
</table>